{% extends "base/header.html" %}
{% load static %}

{% block content %}

<br>
{{history_products}}
<div class="container">
        <div class="row">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" style="height: 500px;">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="/media/{{product.images.all.1.image}}" alt="First slide">
                          </div>
                          
                          <div class="carousel-item">
                            <img class="d-block w-100" src="/media/{{product.images.all.2.image}}" alt="Second slide">
                          </div>
                         
                          
                          <div class="carousel-item">
                            <img class="d-block w-100" src="/media/{{product.images.all.0.image}}" alt="Third slide">
                          </div>
                         

                        </div>
                        
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Əvvəlki</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Növbəti</span>
                        </a>
                      </div>
                

        <div class="table-responsive" style="background-color: white;">
                <table class="table table-shopping">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th>Product</th>
                            <th class="th-description">Rəngi</th>
                            <th class="th-description">Yaddashi</th>
                            <th class="text-right">Qiyməti</th>
                            <th class="text-right">Səbət</th>
                            <th class="text-right">Cəmi</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="img-container">
                                    <img src="{{product.image.url}}" alt="">
                                </div>
                            </td>
                            <td class="td-name">
                                <a href="#jacket">{{product.name}}</a>
                                <br><small>Marka: {{product.brand}}</small>
                            </td>
                            <td>
                                Red
                            </td>
                            <td>
                                128 
                            </td>
                            <td class="td-number">
                                <small></small>549 AZN
                            </td>
                            <td class="td-number">
                                
                                {% if not request.user.is_authenticated %}
                                1
                                <h6 style="color: rgb(240, 11, 11);">Səbətə əlavə üçün <a href='{% url "login" %}' class="alert-link">sistemə</a> daxil olun</h6>
                                {% else %}
                                <div class="btn-group">
                                    <a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Səbətə əlavə et</button></a>
                                </div>
                            {% endif %}
                            </td>
                            <td class="td-number">
                                <small></small>549 AZN
                            </td>
                            <td class="td-actions">
                                <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-simple">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <hr>
                
              </div>
              <div class="container" style="background-color: white;">
                    <div class="row" >
                            <div class="col-md-2" >
                                <ul class="nav nav-pills nav-pills-primary flex-column">
                                  <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">Haqqında</a></li>
                                  <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">Video təqdimat</a></li>
                                  <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">Xüsusiyyətlər</a></li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                            {{product.title}}
                                      <br><br>
                                            
                                                                           
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                            <ul>
                                                    <li>
    
                                            <iframe width="560" height="345" src="{{product.link}}" frameborder="0" allowfullscreen></iframe>
                                                    </li>
                                                </ul>
                                    </div>
                                    <div class="tab-pane" id="tab3">
                                        Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                        <br><br>Dynamically innovate resource-leveling customer service for state of the art customer service.
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
            </div>
            <br>
            {% if not request.user.is_authenticated %}

            <div class="alert alert-danger" role="alert">
                    Məhsulu səbətə əlavə etmək üçün <a href='{% url "login" %}' class="alert-link">qeydiyyatdan </a>. keçin.
                  </div>
                  {% else %}
                  {% endif %}
        </div>
    
    </div>
    <br>
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
<script>
$(document).ready(function(){
	$('.add_to_cart').on('click', function(e){
		e.preventDefault()
		product_slug = $(this).attr('data-slug')
		data = {
			product_slug: product_slug
		}
		$.ajax({
			type: "GET",
			url: '{% url "add_to_cart" %}',
			data: data,
			success: function(data){
				$("#cart_count").html(data.cart_total)
			}
		})
	})
})
    
    
</script>
{%endblock content%}