<div class="footer-nav w-100">
    <div class="container   d-flex justify-content-between">

        <div class="follow-us d-flex">
            <p>
                Bizi izləyin
            </p>
            <ul class="social-links d-flex flex-wrap ">
                <li>
                    <a href="">
                        <img src="{% static 'images/social/twitter.svg' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/social/fb.svg' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/social/instagram.svg' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/social/whatsapp.svg' %}" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static 'images/social/youtube.svg' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="payment-methods">
            <ul class="d-flex flex-wrap">
                <li class="method">
                    <img src="{% static 'images/methods/wallet.svg' %}" alt="">
                </li>
                <li class="method">
                    <img src="{% static 'images/methods/bitcoin.svg' %}" alt="">
                </li>
                <li class="method">
                    <img src="{% static 'images/methods/cash_on_delivery.svg' %}" alt="">
                </li>
                <li class="method">
                    <img src="{% static 'images/methods/discover.svg' %}" alt="">
                </li>
                <li class="method">
                    <img src="{% static 'images/methods/maestro.svg' %}" alt="">
                </li>
                <li class="method">
                    <img src="{% static 'images/methods/master_card.svg' %}" alt="">
                </li>
                <li class="method">
                    <img src="{% static 'images/methods/paypal.svg' %}" alt="">
                </li>
                <li class="method">
                    <img src="{% static 'images/methods/visa.svg' %}" alt="">
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="copyright text-center">
    <p>Copyright © 2020 "Ayshidesign" MMC. All rights reserved.
    </p>
</div>

</footer>


<script type="text/javascript" src="https://kit.fontawesome.com/5a14b242ce.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>
<script src="{% static 'js/ranger.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>