{% include 'base/header.html' %}


{% block content %}

<h3 class="text-center">Sizin şəxsi kabinet. İstifadəçi: {{ request.user }}</h3>
<hr>
<h4 class='text-center'>Sizin sifarişlər</h4>
<table class='table'>
<tr style='background:lightblue;'>
	<td class='text-center'>Sifariş nömrəsi</td>
	<td class='text-center'>Sifarişin tarixi</td>
	<td class='text-center'>Sifariş statusu</td>
	<td class='text-center'>Sifarişin ümumi qiyməti</td>
	<td class='text-center'>Sifariş haqqında əlavə</td>
	<td></td>
</tr>
{% for item in order %}
<tr>
	<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.id }}</td>
	<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.date }}</td>
	<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.status }}</td>
	<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.total }} azn</td>
	<td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'><button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal-{{ item.id }}">
  Sifariş haqqında
</button></td>
</tr>
{% endfor %}
</table>
<!-- Button trigger modal -->

<!-- Modal -->
{% for item in order %}
<div class="modal fade" id="myModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sifariş № {{ item.id }}</h4>
      </div>
      <div class="modal-body">
      <h3>Məhsul</h3>
        <table class='table'>
        	{% for order_item in item.items.items.all %}
	        	<tr>
	       			<td>{{ order_item.product.title }}</td>
	       			<td>{{ order_item.qty }} dene</td>
	       			<td>{{ order_item.item_total }} Azn</td>
	        	</tr>
        	{% endfor %}
        		 <tr>
	        		<td></td>
	        		<td>Cemi</td>
	        		<td><strong>{{ item.items.cart_total }} Azn</strong></td>
	        	</tr>
        </table>
   		<h3>Sifariş verənə :</h3>
   		 <p>Adı: {{ item.first_name }}</p>
   		 <p>Soyad: {{ item.last_name }}</p>
   		 <p>Əlaqə nömrəsi: {{ item.phone }}</p>
   		 <h3>Çatdırılma növü</h3>
   		 <p>{% if item.buying_type == 'self' %} Mağazaya yaxınlaşmaqla {% else %}çatdırılma{% endif %}</p>
   		 <p>{% if item.buying_type == 'delivery' %} {{ item.address }}{% endif %}</p>
   		 <h3>Sifariş haqqında qeyd</h3>
   		 <p>{{ item.comments }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}