{% include 'header.html' %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% block content %}
<style>
	.btn-danger {
    color: #fff;
    background-color: #e62f2d;
    border-color: #dc3545;
}
</style>
<div class='my-cart'>
<h3 class='text-center'>Sifarishi tesdiqle</h3>
<br>
<table class='table'>
<tr>
	<td class='text-center'><strong>Mehsul</strong></td>
	<td class='text-center'><strong>Sayi</strong></td>
	<td class='text-center'><strong>Rengi</strong></td>
	<td class='text-center'><strong>Qiymet</strong></td>
	<td class='text-center'></td>
</tr>
{% for item in cart.items.all %}
<tr>
	<td class='text-center'>{{ item.product.name }}</td>
	<td class="text-center">{{ item.qty }}</td>
	<td class="text-center">{{ item.color|default:"secilmeyib" }}</td>
	<td class='text-center'>{{ item.item_total }} Azn</td>
	<td></td>
</tr>
{% endfor %}
<tr>
	<td></td>
	<td class='text-center'> <strong>Cemi: </strong></td>
	<td class='text-center'><strong>{{ cart.cart_total }} Azn</strong></td>
	<td class='text-center'></td>
</tr>
</table>
<h3 class="text-center">
<a href='{% url "create_order" %}' class='pull-right'><button class='btn btn-danger'>Tesdiqle</button></a></h3>
</div>
{% endblock content %}